In [ ]:
import pandas as pd 
import requests
import numpy as np

In [ ]:
# Creating a Pandas Series from a list of revenue numbers
revenues = pd.Series([5555, 7000, 1980])
revenues  # Displaying the Series

In [ ]:
# Accessing the values of the Series
revenues.values

In [ ]:
# Accessing the index of the Series
revenues.index

In [ ]:
# Creating a Series with explicit index (cities)
city_revenues = pd.Series([4200, 8000, 6500], index=['Amsterdam', 'Toronto', 'Tokyo'])
city_revenues  # Displaying the Series with city names as indexes

In [ ]:
# Accessing a single value by index label
city_revenues['Toronto']

In [ ]:
# Creating a Series from a dictionary, automatically using the keys as the index
city_employee_count_data = {'Amsterdam': 5, 'Tokyo': 8}
city_employee_count = pd.Series(city_employee_count_data)
city_employee_count  # Displaying the Series

In [ ]:
# Accessing the index keys of the Series
city_employee_count.keys()

In [ ]:
# Checking if an index label is in the Series
'Tokyo' in city_employee_count

In [ ]:
# Creating a DataFrame from a dictionary of Series
city_data = pd.DataFrame({
    'revenue': city_revenues,
    'employee_count': city_employee_count
})
city_data  # Displaying the DataFrame

In [ ]:
# Accessing the axes (index labels and column names) of the DataFrame
city_data.axes

In [ ]:
# Accessing a value by integer location
city_revenues[1]

In [ ]:
# Accessing a value by index label
city_revenues['Toronto']

In [ ]:
# Accessing the last value by negative indexing (not supported with default index)
city_revenues[-1]

In [ ]:
# Slicing the Series from a specified label to the end
city_revenues['Toronto':]

In [ ]:
# Creating a Series with a non-default index
colors = pd.Series(['red', 'purple', 'blue', 'green', 'yellow'], index=[1, 2, 3, 5, 8])
colors  # Displaying the Series

In [ ]:
# Accessing a value by the non-default integer index
colors[1]

In [ ]:
# Accessing a value using the .loc indexer
colors.loc[1]

In [ ]:
# Accessing a value using the .iloc indexer for position-based indexing
colors.iloc[1]

In [ ]:
# Slicing the Series using .iloc for positions
colors.iloc[1:3]

In [ ]:
# Slicing the Series using .loc for labels
colors.loc[3:8]

In [ ]:
# Accessing the second to last value using .iloc (negative indexing)
colors.iloc[-2]

In [ ]:
# Accessing a DataFrame column as a Series
city_data.revenue

In [ ]:
# Accessing a row by label
city_data.loc['Amsterdam']

In [ ]:
# Accessing a row by integer location
city_data.iloc[1]

In [ ]:
# Slicing rows by label
city_data.loc['Tokyo': 'Toronto']

In [ ]:
# Accessing a specific column for a range of rows by labels
city_data.loc['Amsterdam': 'Tokyo', 'revenue']

In [ ]:
# Displaying the city_revenues Series
city_revenues

In [ ]:
# Calculating the sum of the city_revenues Series
city_revenues.sum()

In [ ]:
# Finding the maximum value in the city_revenues Series
city_revenues.max()

In [ ]:
# Finding the minimum value in the city_revenues Series
city_revenues.min()

In [ ]:
# Calculating the mean of the city_revenues Series
city_revenues.mean()

In [ ]:
# Displaying the city_data DataFrame
city_data

In [ ]:
# Creating another DataFrame with further city data
further_city_data = pd.DataFrame({
    'revenue': [7000, 3400],
    'employee_count': [2, 2]
}, index=['New York', 'Barcelona'])
all_city_data = pd.concat([city_data, further_city_data], sort=False)  # Concatenating DataFrames vertically
all_city_data  # Displaying the concatenated DataFrame

In [ ]:
# Creating a DataFrame with city countries
city_countries = pd.DataFrame({
    'country': ['Holland', 'Japan', 'Holland', 'Canada', 'Spain'],
    'capital': [1, 1, 0, 0, 0]
}, index=['Amsterdam', 'Tokyo', 'Rotterdam', 'Toronto', 'Barcelona'])

In [ ]:
# Concatenating city data with country data horizontally, joining on common indexes
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False, join='inner')
cities  # Displaying the concatenated DataFrame

In [ ]:
# Creating a DataFrame with country data
countries = pd.DataFrame({
    'population_millions': [17, 127, 37],
    'continent': ['Europe', 'Asia', 'North America']
}, index=['Holland', 'Japan', 'Canada'])

In [ ]:
# Merging city data with country data using a left join on 'country', keeping all cities
pd.merge(cities, countries, left_on='country', right_index=True)

In [ ]:
# The same merge as above, explicitly specifying the join type as 'left'
pd.merge(cities, countries, left_on='country', right_index=True, how='left')

In [ ]:
download_url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv'

response = requests.get(download_url)

with open('nba_all_elo.csv', 'wb') as f:
    f.write(response.content)
    
nba = pd.read_csv('nba_all_elo.csv')
nba.head()

In [ ]:
nba.tail()  # Displays the last 5 rows of the nba DataFrame

In [ ]:
nba.tail(10)  # Displays the last 10 rows of the nba DataFrame

In [ ]:
nba.info()  # Provides a summary of the nba DataFrame, including the number of non-null entries for each column

In [ ]:
nba.describe()  # Generates descriptive statistics that summarize the central tendency, dispersion, and shape of the datasetâ€™s distribution, excluding NaN values

In [ ]:
nba['team_id'].value_counts()  # Returns counts of unique values for 'team_id', showing the distribution of teams

In [ ]:
nba['fran_id'].value_counts()  # Returns counts of unique values for 'fran_id', showing the distribution of franchise ids

In [ ]:
nba['fran_id'] == 'Lakers'  # Creates a boolean Series indicating rows where 'fran_id' is 'Lakers'

In [ ]:
nba.loc[nba['fran_id'] == 'Lakers']  # Selects rows where 'fran_id' is 'Lakers'

In [ ]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id']  # Selects 'team_id' for rows where 'fran_id' is 'Lakers'

In [ ]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id'].value_counts()  # Counts of 'team_id' for Lakers, showing distribution of team IDs for Lakers

In [ ]:
nba.loc[nba['team_id'] == 'MNL', 'date_game']  # Selects 'date_game' for rows where 'team_id' is 'MNL'

In [ ]:
nba.loc[nba['team_id'] == 'MNL', 'date_game'].max()  # Finds the latest 'date_game' for 'MNL' team

In [ ]:
nba['date_played'] = pd.to_datetime(nba['date_game'])  # Converts 'date_game' column to datetime and stores in 'date_played'

In [ ]:
nba.loc[nba['team_id'] == 'MNL', 'date_played'].max()  # Finds the latest 'date_played' for 'MNL' team

In [ ]:
total_bos_points = nba.loc[nba['team_id'] == 'BOS', 'pts'].sum()  # Sums up all points scored by 'BOS' team

In [ ]:
years_bos_played = len(nba.loc[nba['team_id'] == 'BOS', 'date_played'].apply(lambda v: v.year).unique())  # Counts unique years 'BOS' team played

In [ ]:
total_bos_points / years_bos_played  # Calculates average points per year for 'BOS' team

In [ ]:
'points' in nba.axes[1]  # Checks if 'points' is a column in the DataFrame

In [ ]:
'pts' in nba.axes[1]  # Checks if 'pts' is a column in the DataFrame

In [ ]:
'pts' in nba.keys()  # Another way to check if 'pts' is a column in the DataFrame

In [ ]:
nba.iloc[-2]  # Selects the second to last row of the DataFrame

In [ ]:
nba.loc[5555:5559, ['fran_id', 'opp_fran', 'pts', 'opp_pts']]  # Selects rows 5555 to 5559 and specific columns

In [ ]:
current_decade = nba[nba['year_id'] > 2010]  # Filters rows where 'year_id' is greater than 2010

In [ ]:
current_decade.shape  # Shows the shape (number of rows and columns) of the filtered DataFrame

In [ ]:
nba['year_id'] > 2010  # Creates a boolean Series for years greater than 2010

In [ ]:
nba[nba['year_id'] > 2010]  # Filters rows for games played after 2010

In [ ]:
nba['notes'].notnull()  # Creates a boolean Series for rows where 'notes' column is not null

In [ ]:
games_with_notes = nba[nba['notes'].notnull()]  # Filters rows where 'notes' column is not null
games_with_notes  # Displays the filtered DataFrame

In [ ]:
ers_teams = nba[nba['fran_id'].str.endswith('ers')]  # Filters teams whose franchise id ends with 'ers'
ers_teams  # Displays the filtered DataFrame

In [ ]:
nba[(nba['team_id'] == 'BLB') & (nba['pts'] > 100) & (nba['opp_pts'] > 100)]  # Filters games where 'BLB' scored and conceded more than 100 points

In [ ]:
nba['pts'].sum()  # Sums up all points scored in the dataset

In [ ]:
nba['fran_id'].unique()  # Returns unique franchise ids in the dataset

In [ ]:
group_fran = nba.groupby('fran_id', sort=False)  # Groups data by 'fran_id', without sorting
group_fran  # Displays the GroupBy object

In [ ]:
group_fran['pts'].sum()  # Sums up points for each franchise

In [ ]:
year_results = nba[nba['fran_id'] == 'Bulls'].groupby(['year_id', 'game_result'])  # Groups 'Bulls' games by year and result

In [ ]:
year_results['game_id'].count()  # Counts games in each group

In [ ]:
nba[
    (nba['fran_id'] == 'Warriors') &
    (nba['year_id'] == 2015)
].groupby(['is_playoffs', 'game_result'])['game_id'].count()  
# Groups 'Warriors' 2015 games by playoffs status and result, counts games

In [ ]:
nba_copy = nba.copy()  # Creates a copy of the nba DataFrame

In [ ]:
nba_copy['difference'] = nba_copy['pts'] - nba_copy['opp_pts']  # Calculates point difference for each game and stores in 'difference'

In [ ]:
nba_copy.head()  # Displays the first 5 rows of the copied DataFrame

In [ ]:
nba_copy['difference'].max()  # Finds the maximum point difference

In [ ]:
nba_copy.rename(
    columns={
        'game_result': 'result',
        'game_location': 'location'
    },
    inplace=True
)  # Renames columns 'game_result' and 'game_location' in place

In [ ]:
elo_columns = ['elo_i', 'elo_n', 'opp_elo_i', 'opp_elo_n']  # Defines a list of columns related to ELO ratings

In [ ]:
nba_copy.drop(elo_columns, axis=1)  # Returns a new DataFrame with ELO columns dropped

In [ ]:
nba_copy.info()  # Provides a summary of the nba_copy DataFrame, including the number of non-null entries for each column

In [ ]:
nba_copy.drop(elo_columns, axis=1, inplace=True)  # Drops the ELO columns from nba_copy in place

In [ ]:
nba_copy.info()  # Provides an updated summary of the nba_copy DataFrame

In [ ]:
nba['date_game']  # Displays the 'date_game' column

In [ ]:
nba['date_game'] = pd.to_datetime(nba['date_game'])  # Converts 'date_game' column to datetime

In [ ]:
nba.info()  # Provides a summary of the nba DataFrame after the conversion

In [ ]:
nba['game_location'].unique()  # Displays unique values in the 'game_location' column

In [ ]:
nba['game_location'] = pd.Categorical(nba['game_location'])  # Converts 'game_location' column to categorical type

In [ ]:
nba.info()  # Provides a summary of the nba DataFrame after converting 'game_location' to categorical

In [ ]:
nba['game_location'].dtype  # Displays the data type of 'game_location' column

In [ ]:
nba['game_result'].unique()  # Displays unique values in the 'game_result' column

In [ ]:
nba['game_result'] = pd.Categorical(nba['game_result'])  # Converts 'game_result' column to categorical type
nba.info()  # Provides a summary of the nba DataFrame after converting 'game_result' to categorical

In [ ]:
clean_nba = nba.dropna()  # Creates a new DataFrame by dropping rows with any missing values

In [ ]:
clean_nba.shape  # Displays the shape of the clean_nba DataFrame

In [ ]:
clean_nba = nba.dropna(axis=1)  # Creates a new DataFrame by dropping columns with any missing values

In [ ]:
clean_nba.shape  # Displays the shape of the clean_nba DataFrame after dropping columns

In [ ]:
clean_nba.info()  # Provides a summary of the clean_nba DataFrame

In [ ]:
nba_copy = nba.copy()  # Creates a copy of the nba DataFrame

In [ ]:
nba_copy['notes'].fillna(
    value='no notes at all',
    inplace=True
)  # Replaces missing values in 'notes' column with 'no notes at all' in place
nba_copy.info()  # Provides a summary of the nba_copy DataFrame after filling missing values

In [ ]:
nba_copy['notes'].describe()  # Generates descriptive statistics for the 'notes' column

In [ ]:
nba.describe()  # Generates descriptive statistics for numerical columns in the original nba DataFrame

In [ ]:
nba[nba['pts'] == 0]  # Filters games where a team scored 0 points

In [ ]:
nba[(nba['pts'] < nba['opp_pts']) & (nba['game_result'] != 'L')].empty  # Checks if there are any anomalies where a team scored fewer points but didn't lose

In [ ]:
nba[(nba['pts'] > nba['opp_pts']) & (nba['game_result'] != 'W')].empty  # Checks if there are any anomalies where a team scored more points but didn't win

In [ ]:
knicks_pts_by_year = nba[nba['fran_id'] == 'Knicks'].groupby('year_id')['pts'].sum()

In [ ]:
knicks_pts_by_year

In [ ]:
!pip install matplotlib

In [ ]:
knicks_pts_by_year.plot()

In [ ]:
knicks_pts_by_year.tail(10).plot(kind='bar')

In [ ]:
nba[(nba['fran_id'] == 'Knicks') & (nba['year_id'] > 2000)].plot(kind='scatter', x='pts', y='opp_pts', s=0.5)

In [ ]:
nba[nba['pts'] == nba['opp_pts']].empty

In [ ]:
heat_13_wl = nba[
    (nba['fran_id'] == 'Heat') &
    (nba['year_id'] == 2013)
]['game_result'].value_counts()
heat_13_wl

In [ ]:
heat_13_wl.plot(kind='pie')